# Alchemy RPC (Sepolia)
NEXT_PUBLIC_ALCHEMY_RPC_URL = https://eth-sepolia.g.alchemy.com/v2/wEC__n9Xsgr0G0aoKTKrO

# Pinata IPFS
PINATA_API_KEY = 850d5e6d5a0d1a8e92d9
PINATA_API_SECRET = 0936eb9b7ecdbf2bd868bbf131a4ed37d8b637900c1194316bb4a9fdada239e7
NEXT_PUBLIC_PINATA_GATEWAY=https://gateway.pinata.cloud/ipfs/

# Supabase
NEXT_PUBLIC_SUPABASE_URL = https://autylwlhcosfmevxwnpa.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY = eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImF1dHlsd2xoY29zZm1ldnh3bnBhIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ1MTIwNDksImV4cCI6MjA5MDA4ODA0OX0.fg8JMLUq9DxeqbnCKF1xR_u0XtZN7j7OMG8kKq2ZQI0

# Smart Contract Addresses (filled in Step 3)
NEXT_PUBLIC_USER_REGISTRY_ADDRESS=
NEXT_PUBLIC_SOCIAL_GRAPH_ADDRESS=
NEXT_PUBLIC_POST_REGISTRY_ADDRESS=

# Hardhat Deployer Private Key (NEVER commit the real .env file)
DEPLOYER_PRIVATE_KEY = 283764f460f3846c4b250a35e6068bef6eb929f5fdb7e30676cf7ed03a34d815